{% extends 'base.html' %}
{% load static %}

{% block title %}

Домашняя страница



{% endblock title %}


{% block extrastyle%}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static "myCSS/myCSS.css" %}"/>
{% endblock %}


{% block main %}

<div class="container col-md-3 ">
    <form class="form-3" method="POST" action="{% url 'imagesApp.addImage' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field.errors}}
        <h1 style="text-align: center;">Добавление фото</h1>
        {% for field in form %}
            <div class="form-group mt-1 md-2">
                {{ field.label_tag }}
                {{ field }}
                <div class="invalid-feedback">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <div>
            <p style="text-align: center;">
              <button type="submit" class="btn btn-success btn-lg mt-3">Добавить фото</button>
            </p>
            <p style="text-align: center;">
              <a class="mt-3" href="{% url 'imagesApp.homePage' %}">или вернуться на главную</a>
            </p>
        </div>
    </form>
</div>

{% endblock main %}