<!DOCTYPE html>


<html lang="en">
  {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          type="text/css"
          href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
        {% block extrastyle%} {% endblock %}
        <link rel='icon' href="{% static 'favicon.ico' %}" type='image/x-icon'>
        <title>{% block title %} {{ title }} {% endblock title %}</title>
    </head>
    <body>
    
    {% block navigate %}
        {% include 'inc/_navigate.html' %}
    {% endblock navigate %}
    
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif%}
    {% endblock%}

    {% block main %} 
    
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example" style='margin-top: 20px; display: flex; justify-content: center;'>
      <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        {% else %}
            <li class="page-item disabled" >
              <a class="page-link" href="#" aria-label="Previous" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
          {% if page_obj.number == page %}
            <li class="page-item active" arial-current="page"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% elif page > page_obj.number|add:-4 and page < page_obj.number|add:4 %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

    {% endblock %}
    
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>