<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a href="{% url 'imagesApp.homePage' %}" class="nav-link px-2 text-secondary">Домашняя страница</a>
        </li>
        <li><a href="#" class="nav-link px-2 text-white">Популярное</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Новое</a></li>
        <li><a href="{% url 'imagesApp.addImage' %}" class="nav-link px-2 text-white">Написать новость</a></li>
      </ul>

      <form method="POST" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        {% csrf_token %}
        <input
          type="search"
          name="search"
          class="form-control form-control-dark"
          placeholder="Найти..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        {% if request.user.is_authenticated %}
        <a type="button" class="btn btn-outline-light me-2">Личный кабинет</a>
        <a href="{% url 'imagesApp.logout' %}" type="button" class="btn btn-danger me-2">Выйти</a>
        {% else %}
        <a href="{% url 'imagesApp.login' %}" type="button" class="btn btn-outline-light me-2">Войти</a>
        <a href="{% url 'imagesApp.register' %}" type="button" class="btn btn-warning">Зарегистрироваться</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
